<body>
    <div class='container'>
       <% for(var x in quotes) { %>
            <h2>"<%= quotes[x].quote %>"</h2>  
            <h2>- <%= quotes[x].name %> </h2>  
       <% } %>
    </div>    
</body>
</html>