<h1>hello HOF!</h1>
    <table>
        <% for(var x in players) %>
            <tr>
                <td>
                    <%= players[x].name %>
                </td>
                <td>
                    <%= players[x].gold %>
                </td>
            </tr>
    
    </table>