<body>
    <div class="container">
        <h2>List of Jaguars</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <% for(x in data) { %>
                <tr>
                    <td>
                        <a href="/jaguar/<%=data[x]._id%>">
                            <%= data[x].name %>
                        </a>
                    </td>
                    <td>
                        <form action="/jaguar/edit/<%=data[x]._id%>" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/jaguar/destroy/<%=data[x]._id%>" method="POST">
                            <input type="submit" value="Release">
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <a href="/jaguar/new">
        <button>Add a new Jaguar</button>
    </a>
</body>